body, html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #222;
}

header {
	text-align: left;
	font-size: 20pt;
	background-color: #333;
	color: #ddd;
	margin: 0;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #ddd;
}

nav {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	text-decoration: none;
}
nav a span {
	width: 32px;
	height: 32px;
	background-size: cover;
	display: inline-block;
}

nav a span.github {
	background-image: url("../assets/img/GitHub-Mark-64px.png");
}

nav a span.linkedin {
	background-image: url("../assets/img/In-White-128px-TM.png");
}

footer span.view_source {
	float: right;
	display: inline-block;
	margin-right: 10px;
}

footer span.view_source a {
	font-size: 11pt;
	color: #aaa;
	text-decoration: none;
}

main {
	overflow: auto;
}

article, aside {
	padding: 25px 25px 25px 25px;
	box-sizing: border-box;
}

article {
	background-color: #555;
	width: 70%;
	float: right;
	color: #ddd;
}

aside {
	width: 30%;
	float: left;
	background-color: #111;
	color: #ddd;
}
