html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono";
}

.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	background-color: #2D2D2D;
}

.container {
	display: inline-block;
	background-color: #2A4C6F;
	padding: 2em;
	border: 1px solid white;
}

.center {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

header {
	font-size: 2.75em;
	text-align: center;
	display: inline-block;
}

.headline {
	display: inline-block;
}

.photo {
	text-align: center;
	border-radius: 100px;
	background-image: url("../img/me.jpg");
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
}

.social_a {
	text-decoration: none;
	margin-right: 16px;
	margin-left: 16px;
}
.social_img {
	width: 32px;
	height: 32px;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}

.github {
	background-image: url("../img/GitHub-Mark-64px.png");
}

.linkedin {
	background-image: url("../img/In-Black-128px-TM.png");
}

.cwhite {
	color: white;
}

.cblue {
	color: #66CCCC;
}
